.linkCard__item {
  margin: 20px 0 20px 0;
  padding: 20px;
  width: 280px;
  height: 200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  overflow: hidden;
  background-color: #FFF;
  position: relative;
  /* margin-top: 25px; */
  text-decoration: none;
  opacity: 90%;
  transition: 0.3s linear;
  cursor: pointer;
}

.linkCard__item:hover {
  opacity: 100%;
  /* transform: scale(1.01); */
  box-shadow: 0 0 8px rgba(1, 3, 29, 0.2);
}


.linkCard__item:active {
  transform: scale(.98);
}

@media screen and (max-width: 890px) {
  .linkCard__item {
    margin: 0;
  }
}


@media screen and (max-width: 424px) {
  .linkCard__item {
    padding: 10px;
    font-size: 15px;
    height: 150px;
  }
}

