.header__return-link {
  margin: 0;
  margin-top: 10px;
  width: min-content;
  height: min-content;
  font-family: "Inter", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  opacity: 50%;
  transition: 0.3s linear;
  cursor: pointer;
}

.header__return-link:hover {
  opacity: 100%;
  transform: scale(1.01);
}


.header__return-link:active {
  transform: scale(.99);
}

@media screen and (max-width: 424px) {
  .header__return-link {
    margin-top: 15px;
    font-size: 15px;
  }
}

